@import url(reset.css);
@import url(font_family.css);
@font-face {
    font-family: "Netflix Sans";
    font-weight: 100;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2)
            format("woff2"),
        url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff)
            format("woff");
}

@font-face {
    font-family: "Netflix Sans";
    font-weight: 300;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2)
            format("woff2"),
        url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff)
            format("woff");
}

@font-face {
    font-family: "Netflix Sans";
    font-weight: 400;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2)
            format("woff2"),
        url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff)
            format("woff");
}

@font-face {
    font-family: "Netflix Sans";
    font-weight: 700;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2)
            format("woff2"),
        url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff)
            format("woff");
}

@font-face {
    font-family: "Netflix Sans";
    font-weight: 800;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2)
            format("woff2"),
        url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff)
            format("woff");
}

@font-face {
    font-family: "Netflix Sans";
    font-weight: 900;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2)
            format("woff2"),
        url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff)
            format("woff");
}
body {
    color: #fff;
}
hr {
    padding: 0;
    margin: 0;
}
.container-1 {
    background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.8) 0,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.8) 100%
        ),
        url(../images/bg.jpg);
    background-size: cover;
    height: 700px;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 2px 20px;
}
.netflix-icon-container {
    margin: 10px;
    padding: 15px;
}
.icon-netflix-logo {
    height: 50px;
    fill: red;
}
.menu {
    display: flex;
    margin: 10px;
    padding: 15px;
    color: #fff;
}
.menu-btn {
    margin: 10px 15px 10px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    width: 114px;
}
.btn-danger {
    background-color: #e20712;
}
hr {
    border: 5px solid #222;
}
.container-1 {
    display: flex;
    padding-bottom: 250px;
    margin-top: -115px;
}
.first {
    margin: auto;
    text-align: center;
    padding: 150px 30px 30px 30px;
    line-height: initial;
    margin-top: 100px;
}
.left {
    margin: auto;
    /* padding: 150px; */
}
.sign-in-button,
.language-option {
    height: 50px;
    width: 110px;
    border-radius: 5px;
}
.language-option {
    background: black;
    color: #fff;
    padding-left: 25px;
    font-weight: 800;
    font-family: cursive;
}
.sign-in-button {
    background: red;
    margin-left: 30px;
}
.sign-in-button a {
    color: #fff;
    text-decoration: none;
    font-weight: 800;
}
.language-container {
    position: relative;
}
.language-icon {
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 18px;
    left: 2px;
    padding-left: 5px;
}
.main-header-text {
    font-size: 3.125rem;
    max-width: 585px;
    font-family: "Netflix Sans";
    margin: auto;
    font-weight: 800;
    margin-bottom: 30px;
}
.main-header-description {
    font-size: 1.625rem;
    font-weight: 400px;
    margin-top: 10px;
    width: 540px;
    font-family: "Netflix Sans";
    /* margin: 20px auto; */
    font-weight: 400;
    line-height: normal;
}
.sub-title {
    margin: 20px auto;
}
.description {
    font-size: 1.2rem;
    margin: 20px;
    font-weight: 400;
    font-family: "Netflix Sans";
    margin: auto;
    padding-bottom: 20px;
}
.search-button {
    padding: 20px;
    border: none;
}
.form-group {
    display: flex;
    justify-content: center;

    margin: 15px;
}
.form-control {
    position: relative;
}
input[type="text"],
input[type="password"] {
    width: 450px;
    font-size: 16px;
    height: 32px;
    cursor: pointer;
    padding: 20px 20px 20px 10px;
    border: none;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    height: 20px;
    border-radius: 5px;
}

label {
    position: absolute;
    color: #8c8c8c;
    top: 25px;
    left: 10px;
}

.search-button {
    color: #fff;
    font-size: 26px;
}
input[type="text"]:focus ~ label,
input[type="text"]:valid ~ label,
input[type="password"]:focus ~ label,
input[type="password"]:valid ~ label {
    font-size: 1em;
    left: 10px;
    top: 10px;
    border-radius: 20px;
}
.container-2 {
    background: black;
}
.second {
    display: flex;
    padding: 80px;
}

.img-1 {
    position: relative;
    z-index: 1;
}
.video-1 {
    position: absolute;
    top: 1150px;
    right: 164px;
}

.container-3 {
    background: black;
}
.third {
    display: flex;
    padding: 80px;
}
.right {
    position: relative;
}
.media {
    position: absolute;
    right: 80px;
    top: 110px;
}
.third .left {
    padding: 50px;
}
.img-card {
    position: absolute;
    background: black;
    border: 2px solid grey;
    padding: 15px;
    display: flex;
    height: 60px;
    width: 386px;
    margin: auto;
    border-radius: 12px;
    padding: 20px;
    left: 120px;
    top: 330px;
}
.book-title {
    position: relative;
    font-size: 20px;
}
.f-blue {
    color: blue;
}
.container-4,
.container-5,
.container-6,
footer {
    background: black;
}
.img-3 {
    position: relative;
    z-index: 1;
}
.video-3 {
    position: absolute;
    left: 98px;
    top: 23px;
    width: 435px;
}
.m-t-20 {
    margin-top: 20px;
}
.p-20 {
    padding: 20px;
}
.faq-header {
    text-align: center;
}
.faq-header .main-header-text {
    display: inline;
}
.container-6,
footer {
    padding: 80px;
}
.footer {
    padding: 10px 10px 10px 150px;
    color: #757575;
}
.faq-container {
    margin: 40px;
}
.list {
    list-style: none;
}
.footer-list {
    display: flex;
    justify-content: space-around;
    /* list-style: none; */
}
.contact-no {
    margin: 10px;
}

td {
    padding: 20px 140px 20px 20px;
}
.faq {
    width: 900px;
    margin: auto;
}
.faq .question,
.faq .answer {
    padding: 0.8em 2.2em 0.8em 1.2em;
    background: #303030;
    margin-top: 5px;
    margin-bottom: 1px;
    font-size: 26px;
    font-weight: 400;
    color: #fff;
}
.faq .question {
    width: 100%;
}
.faq .answer {
    padding: 1.2em;
    font-size: 1.625rem;
    line-height: 2rem;
}
.error {
    display: block;
    text-align: initial;
    padding-left: 15px;
}
.question {
    display: flex;
    justify-content: space-between;
}
.answer {
    display: none;
}
.question-answer {
    margin: 15px;
}
.container-6 .first {
    padding: 50px 30px 0px 30px;
    margin-top: 0;
}
.sign-in-form {
    background: rgba(0, 0, 0, 0.75);
    padding: 30px 30px;
    margin-top: 170px;
}
.left {
    text-align: left;
}
.input-container {
    padding-bottom: 50px;
    cursor: pointer;
}
.btn-login {
    width: 95%;
    background: red;
    color: #fff;
    font-weight: 600;
    padding: 11px 7px 7px 7px;
    text-align: center;
    font-size: 25px;
}
.input-help {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: #b3b3b3;
}
.remember-me {
    font-size: 15px;
    cursor: pointer;
}
input[type="checkbox"] {
    margin-right: 10px;
}
form {
    margin-bottom: 50px;
}
.other-option {
    font-size: 17px;
    text-align: left;
    color: grey;
}
.m-10 {
    margin: 10px;
}
.facebook-login {
    display: flex;
    font-size: 20px;
}
.facebook-logo {
    margin-right: 10px;
}
.f-25 {
    font-size: 25px;
}
.sign-up-link {
    text-decoration: none;
    color: white;
}
.sign-up-link:hover {
    text-decoration: underline #fff;
}
.learn-more:hover {
    text-decoration: underline blue;
}
.learn-more {
    color: blue;
    margin-left: 5px;
    cursor: pointer;
}
.need-help {
    cursor: pointer;
}
.need-help:hover {
    text-decoration: underline #757575;
}
.security {
    line-height: 1.5rem;
}
.question:focus-within ~ .answer {
    visibility: visible;
    display: block;
}
.footer-language-container {
    margin: 15px 10px;
}
.footer-language-container .language-icon,
.footer-language-container .language-option {
    color: #757575;
}
.m-10 {
    margin: 10px;
}
.footer-item {
    cursor: pointer;
}
.footer-item:hover {
    text-decoration: underline;
}
.sign-in-form input[type="text"],
.sign-in-form input[type="password"] {
    background: #333;
}
.sign-in-form .main-header-text {
    font-size: 32px;
    margin: 30px 15px;
    font-weight: 700;
}
